.sign-form {
  width: 300px;
  margin: auto;
}

.sign-form-img {
  width: 150px;
  display: block;
  margin: 20px auto;
}

.google-sign-form-btn {
  width: 100%;
}

.theater {
  margin: auto;
  text-align: center;
  width: 1200px;
}

.theater-box {
  display: inline-block;
  padding: 30px;
  margin: 10px;
  overflow: auto;
}